<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Capstone 2 Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/display.css"/>
</head>

<body>
<section>
    <div class="container">
        <form action="{{ url_for('back') }}">
            <button type="submit" class="btn btn-dark m-3">Back</button>
        </form>

        <div class="row">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="item">
                        <div class="polaroid">
                            <img src="{{ url_for('send_file', filename=filename) }}" alt="Loading...">
                            <div class="caption"> {{ landmark }} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="../static/app.js"></script>

</body>
</html>